/* ----------------------- General Styling -------------------------- */
body {
	background: url("images/ball.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body {
	height: 100%;
	color: cyan;
}

h4 {
	margin-bottom: 20px!important;
}

.link-text {
	color: yellow;
}

a.link-text:hover {
	color: cyan;
}

/* ----------------- Footballer Registration Form ------------------- */
.registration-input {
	width: 250px!important;
	height: 28px!important;
}

#footballer-registration-button {
	margin: 15px 0 15px 0;
}

#strength-height-fix {
	height: 36px!important;
}

#rating-bottom-margin-fix {
	margin-bottom: 17px;
}

input[type="radio"] {
	margin: 0 2px 0 8px;
}

/* ------------------------- Footer Settings ------------------------- */
.page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 3.5rem;
}

.footer {
	height: 3.5rem;
	margin-top: 2rem;
}

/* --------------------------- Registration Form ---------------------- */
.registration-form-error {
	color: yellow;
}

/* --------------------------- Registration Table ---------------------- */
.table th,
.table td {
	color: cyan;
}

.table tbody tr:hover td {
	background-color: cyan!important;
	color: red;
}















