body {
	background-image: url("images/ball.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html, body {
	height: 100%;
	color: white!important;
}

h4 {
	margin-bottom: 20px!important;
}

/* ----------------- Footballer Registration Form ------------------- */
.registration-input {
	width: 250px!important;
}

#footballer-registration-button {
	margin: 15px 0 15px 0;
}

/* ------------------------- Footer Settings ------------------------- */
.page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 3.5rem;
}

/* --------------------------- Registration form ---------------------- */
.registration-form-error {
	color: yellow;
}